
<div class="comments">
  {{#each this}}
    <section class="comment" name="comment-{{id}}">
      <div class="meta">
        <h3>{{user.username}}<span> on {{date_created}}</span></h3>
      </div>
      <div class="comment-text">
        {{comment_text}}
    </section>
  {{/each}}
</div>