
<div class="card">
  <h2 class="card-header">Edit Post</h2>
  <form class="card-body" id="edit-post-form">
      <div>
      <label class="form-label">Title:</label>
      <input class="form-input" type="text" name="post-title" value="{{post.postTitle}}"/>
    </div>
    
    <div>
      <label class="form-label">Content:</label>
      <textarea class="form-textarea form-input" name="post-body" data-number="8">{{post.postContent}}</textarea>
    </div>
    <div class="card-body">
      <button class="btn btn-primary" type="submit">Update Post</button>
      <button class="btn btn-primary" type="click" id="delete-btn">Delete</button> 
    </div> 
    <input type="hidden" name="post-id" value="{{post.id}}"/>
  </form>
</div>
<script src="/javascript/edit.js"></script>