<div class="card">

  <h2 class="card-header">LOGIN</h2>

  <form class="card-body login-form">

    <div class="form-group">
      <label class="form-label">email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">LOGIN</button>
    </div>

  </form>
  <p>Not account yet? <a href="/signup">Sign Up</a> here.</p> 
</div>
<script src="/javascript/login.js"></script>