<div class="col-auto">
  <span><h1>Welcome! {{ username }}</h1></span>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}
  {{> editItem post}}
  {{/each}}
</div>
{{/if}}